<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC75XHZaKBQ4xUSnn2-uTiZ2mILPYFUms4</string>
	<key>GCM_SENDER_ID</key>
	<string>834936075871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ahmed.Marwa.read-online</string>
	<key>PROJECT_ID</key>
	<string>reading-online-203dc</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-online-203dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834936075871:ios:af42b71dcaaff464d6cdea</string>
</dict>
</plist>